.ArticleTitle {
    padding-top: 60px;
    text-align: left;
    font-size: 6rem;
    padding-left: 40px;
}

.ArticleAuthor {
    text-align: left;
    padding-left: 60px;
    font-size: 1.25rem;
}

.Subtitle {
    padding-top: 0px;
    padding-bottom: 20px;
}


.ArticleText {
    font-size: 1.75rem;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.ArticleLink {
    font-size: 1.5rem;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    word-break: break-word;
    text-align: none;
}